<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
      {{ site.title | escape }}
    </a>
    <button class="toggler navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ site.url }}{{ site.baseurl }}/">Home</a>
            {% for page in site.nav_pages %}
                {% assign page_display = page.name | replace: '-', ' ' %}
                {% assign words = page_display | split: ' ' %}
                {% assign capitalized_words = '' %}
                {% for word in words %}
                    {% assign capitalized_word = word | capitalize %}
                    {% if capitalized_words == '' %}
                        {% assign capitalized_words = capitalized_word %}
                    {% else %}
                        {% assign capitalized_words = capitalized_words | append: ' ' | append: capitalized_word %}
                    {% endif %}
                {% endfor %}
                <a class="nav-item nav-link" href="{{ site.url }}{{ site.baseurl }}/{{page.name}}">{{ capitalized_words }}</a>
            {% endfor %}
        </div>
    </div>
</nav>
