<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar navbar-expand-md navbar-light bg-light site-nav-minimal">
  <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/#about">{{ site.title | escape }}</a>
  <div class="navbar-nav ms-auto">
    <a class="nav-link" href="{{ site.baseurl }}/#news">News</a>
    <a class="nav-link" href="{{ site.baseurl }}/#papers">Papers</a>
    <a class="nav-link" href="{{ site.baseurl }}/#experience">Experience</a>
  </div>
</nav>
